@use "../config" as *;

.b-slider-content {
  position: relative;
  overflow: hidden;

  &__shape {
    display: block;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    will-change: transform;

    &.purple {
      width: 68.6rem;
      height: 85.6rem;
      top: 20%;
      left: 27rem;
      background-color: $purple;
      filter: blur(350px);
    }

    &.red {
      width: 67.2rem;
      height: 67.2rem;
      bottom: 0;
      left: 25%;
      background-color: $red;
      filter: blur(350px);
    }
  }

  &__slider {
    .c-card {
      background: $white;
      transition: all 0.8s $ease-out;

      @media (hover: hover) {
        &:hover {
          .c-card__content { color: $dark-gray; }

          .button-secondary {
            &__title::before { background: $purple; }
          }
        }
      }

      &__bg { display: none; }

      &__content {
        color: $dark-gray;

        h3 { color: $purple; }
      }

      &__link {
        .button-secondary {
          &__title {
            background: transparent;
            background-clip: unset;
            -webkit-text-fill-color: $purple;
          }

          &__arrow svg path { fill: $purple; }
        }
      }
    }
  }

  &__circle {
    @include media-breakpoint-down(lg) { text-align: center; }

    svg path {
      @include media-breakpoint-up(lg) { stroke: $white; }
    }
  }

  &__cc {
    padding: 5rem 2rem 0;
    position: relative;
    padding-bottom: 21.8rem;

    @include media-breakpoint-up(lg) { padding-bottom: 10rem; }

    @include media-breakpoint-up(xl) { padding: 0; }

    .e-title { max-width: 80%; }

    .button__title { color: $purple; }

    h4 {
      font-weight: 600;

      @include p-medium;
    }
  }

  &__image {
    position: relative;
    margin-right: -25rem;
    margin-top: -19rem;
  }
}
